@{
    ViewData["Title"] = "Reservation confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>Резервацията ви трябва да бъде потвърдена. На посочения e-mail адрес е изпратено съобщение за потвърждение.</p>
}
